# Public repository ownership
* @0xmdrakib

/.github/ @0xmdrakib
/apps/frontend/ @0xmdrakib
/apps/docs/ @0xmdrakib
/packages/ @0xmdrakib
/scripts/ @0xmdrakib
/SECURITY.md @0xmdrakib
/CONTRIBUTING.md @0xmdrakib
